@use "./variables.scss";
@use "./general.scss";

.pricing {
    @include variables.limitMaximumWidth;
    padding-top: 100px;
    
    &__heading {
        margin-bottom: variables.pixelsToVW(48px);
    }

     &-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        row-gap: variables.pixelsToVW(50px);
        justify-content: space-between;
        list-style-type: none;

        &-item {
            width: 370px;
            box-sizing: border-box;
            padding: 0 1.5rem;
            border-radius: 1rem;

            &--free {
                @include variables.backgroundImage($url: '../images/subscribe_1.png');
            }
            &--standard {
                @include variables.backgroundImage($url: '../images/subscribe_2.png');
             }

            &--premium {
                @include variables.backgroundImage($url: '../images/subscribe_3.png');
            }

            &__heading {
                font-size: variables.$textSize2;
                text-transform: uppercase;
                margin-bottom: 200px;
                font-weight: 400;
                text-align: center;
            }
            
            &__price {
                display: flex;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 40px;
                gap: 16px;
                font-size: variables.$textSize7;
                line-height: 1em;

                &--currency {
                    font-size: variables.$textSize3;
                    text-transform: uppercase;
                    line-height: 1.5;
                }
            }

            &__paragraph {
                text-align: center;
                margin: 64px 0;
                font-size: variables.$textSmall;
            }
        }
     }

     &__paragraph {
        text-align: center;
        margin-top: 40px;
        font-size: variables.$textSize1;
     }
}


.news {
    @include variables.limitMaximumWidth;

    #page-news {
        padding: 100px 20px 0;
    }

    &__heading {
        margin: 0 auto 48px auto;
    }

    &-item {
        display: flex;
        gap: 50px;

        @media (max-width: 415px) {
            flex-direction: column;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            @media (max-width: 415px) {
                flex-direction: column;
            }
        }

        &:not(:last-child) {
            margin-bottom: 65px;
        }

        &__image {
            flex: 1 1 0;
        }

        &-description {
            flex: 1 1 0;

            &__heading {
                font: 400 30px/1.5 Roboto;
                margin: 0 0 30px 0;
                color: #fff;

                @media (max-width: 415px) {
                    font-size: 16px;
                    margin-bottom: 16px;
                }
            }

            &__paragraph {
                font-size: variables.$textSize1;
                margin: 0 0 24px 0;
            }

            &__author {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 48px;

                &-name {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: variables.$orange;
                }
            }

            &__date {
                font-size: 12px;
                color: variables.$darkGray;
            }

            .button {
                padding: 16px 30px;
                font-size: 12px;
            }
        }
    }
}

.app {
    @include variables.limitMaximumWidth;
    padding: 100px 0;

    &__heading {
        margin-bottom: 48px;
    }

    &-columns {
        display: flex;
        gap: variables.pixelsToVW(144px);

        &__wrap {
            flex: 0 1 variables.pixelsToVW(600px);
        }

        &__paragraph {
            font-size: variables.$textSize1;
            color: variables.$darkGray;
            margin: 16px 0;
        }

        &__image {
            align-self: flex-start;

            @media (max-width: 415px) {
                align-self: center;
            }
        }

        @media (max-width: 415px) {
            flex-direction: column-reverse;
            gap: 0;
        }
    }
}

.popular-track {
    @include variables.limitMaximumWidth;
    padding-top: 100px;

    &__heading {
        text-align: left;
        margin: 0 auto 48px auto;
    }

    &-list {
        display: grid;
        grid-template-columns: variables.pixelsToVW(551px) variables.pixelsToVW(551px);
        grid-template-rows: repeat(3, 55px);
        gap: 25px variables.pixelsToVW(49px);
        list-style-type: none;
        padding: 0;
        margin: 0 auto;

        @media (max-width: 415px) {
           display: flex;
           flex-direction: column;
           gap: 25px;
        }

        &-item {
            display: grid;
            column-gap: 15px;
            grid-template-rows: 50% 50%;
            grid-template-columns: 55px auto 25px;
            font-size: variables.$textSmall;

            &__image {
                width: 100%;
                height: 100%;
                grid-row: span 2;
            }

            &__heading {
                margin: 0;
                text-transform: uppercase;
                align-self: flex-end;
            }

            &__time {
                grid-row: span 2;
                align-self: center;
            }

            &__author {
                align-self: start;
            }
        }
    }
}

.discography {
    @include variables.limitMaximumWidth;
    padding-top: 100px;

    &__heading {
        text-align: left;
        margin: 0 auto 48px auto;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-auto-rows: 320px;
        gap: 69px variables.pixelsToVW(50px);
        list-style-type: none;
        padding: 0;
        margin: 0 auto;


        @media (max-width: 415px) {
            grid-template-columns: repeat(2, 137px);
            grid-template-rows: 206px;
            grid-auto-rows: 233px;
            column-gap: 50px;
         }
        
        &-item {
            &__image {
                width: 100%;
                aspect-ratio: 1 / 1;
            }

            &__heading {
               margin: 0;
               font-size: 18px;
               line-height: 27px;
            }

            &__year {
                font-size: variables.$textSize1;
            }
        }
    }
}

.similar {
    @include variables.limitMaximumWidth;
    padding-top: 100px;
    padding-bottom: 100px;

    &__heading {
        text-align: left;
        margin: 0 auto 48px auto;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-auto-rows: 320px;
        gap: 25px variables.pixelsToVW(50px);
        list-style-type: none;
        padding: 0;
        margin: 0 auto;

        @media (max-width: 415px) {
            grid-template-columns: repeat(2, 137px);
            grid-auto-rows: 230px;
            column-gap: 50px;
         }


        &-item {
            &__image {
                width: 100%;
            }

            &__heading {
               margin: 0;
               font-size: 18px;
               line-height: 27px;
               text-align: center;
            }

            &__paragraph {
                font-size: variables.$textSize1;
                text-align: center;
                margin-top: 0;
            }

        }
    }
}