/* stylelint-disable */

@use "./variables.scss";

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    line-height: 1.5;
    color: variables.$darkGray;
    background-color: variables.$black;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: 415px) {
        font-size: 30px;
        line-height: 45px; 
    }
}

h2 {
    @extend h1;
    font-size: 38px;
    line-height: 57px;
    text-align: center;

    @media (max-width: 415px) {
        font-size: 18px;
        line-height: 27px; 
    }
}

.button {
    display: block;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;

    &--green {
        text-transform: uppercase;
        background-color: variables.$green;
    }

    &--white {
        border: 1px solid variables.$darkGray;
        color: variables.$darkGray;
        font-size: variables.$textSize1;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
    }

    &--red {
        background-color: variables.$red;
        border-radius: 32px;
        padding: 16px 40px;
        font-size: variables.$textSmall;
    }

    &--red-secondary {
        position: relative;
        background-color: variables.$red;
        width: 200px;
        height: 62px;
        font-size: variables.$textSmall;
        text-transform: uppercase;
        padding-left: 67px;
        text-align: left;

        &::before {
            @include variables.backgroundImage($url: '../images/heart.svg');
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            display: block;
            width: 20px;
            height: 18px;
            content: '';
        }
    }

    &--purple {
        @extend .button--red-secondary;
        background-color: variables.$purple;

        &::before {
            @include variables.backgroundImage($url: '../images/play-button.svg');
            height: 20px;
        }
    }
}

.header {
    @include variables.backgroundImage($url: '../images/banner.png');
    @include variables.limitMaximumWidth;
    width: 100%;
    
    &--artist {
        @include variables.backgroundImage($url: '../images/Morten Harket.png');
    }

    &--artist &-description {
        align-items: flex-start;
        padding-bottom: 223px;
        padding-top: 250px;

        @media (max-width: 415px) {
            padding-top: 225px;
            padding-bottom: 224px;
        }

        &__heading {
            text-align: left;
            margin-bottom: 16px;
        }

        &__paragraph {
            margin: 0;
        }
    }

    &--artist &-form {
        margin-top: 48px;
        gap: 24px;
        align-items: center;

        & > .button {
            flex-grow: 0;

            @media (max-width: 415px) {
                height: 62px;
            }
        }
    }

    &-navigation {
        position: absolute;
        display: flex;
        align-items: center;
        top: 25px;
        transform: translateX(-50%);
        left: 50%;
        width: variables.pixelsToVW(1200px);

        @media (max-width: 730px) {
            width: calc(100% - 40px);
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__logo {
            position: relative;
            display: block;
            font-size: 11px;
            font-weight: 700;
            margin-right: 90px;
            text-transform: uppercase;
            color: #fff;

            @media (max-width: 730px) {
                margin-left: 40px;
                margin-bottom: 17px;
            }

            &::before {
                @include variables.backgroundImage($url: '../images/logo.svg');
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                left: -40px;
                content: "";
            }
        }

        &__link {
            text-transform: uppercase;
            text-decoration: none;
            color: variables.$darkGray;
            font-size: 11px;
            font-weight: 700;
            margin-right: 24px;

            &:first-of-type {
                color: #fff;
            }

            &:last-of-type {
                margin-right: auto;

                @media (max-width: 730px) {
                    margin-bottom: 18px;
                }
            }
        }

        &__search {
            margin: 0;
            display: block;
            box-sizing: border-box;
            border-radius: 50px;
            background-color: variables.$dark;
            border: none;
            text-transform: uppercase;
            width: variables.pixelsToVW(248px);
            height: 25px;
            padding: 5px 10px;

            @media (max-width: 730px) {
                width: 100%;
            }

            &::placeholder {
                font-family: inherit;
                font-size: 13.3px;
            }
        }
    }

    &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
        text-align: center;
        color: #fff;

        &__heading {
            margin: 0;
        }

        &__subheading {
            margin: 0 0 31px 0;

            @media (max-width: 415px) {
                margin-bottom: 16px;
            }
        }

        &__paragraph {
            font-size: variables.$textSize1;
            margin: 0 0 17px 0;

            @media (max-width: 415px) {
                margin-bottom: 17px;
            }
        }

        @media (max-width: 415px) {
            padding-top: 248px;
        }
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 570px;
        margin: 0;
        padding: 0;

        @media (max-width: 650px) {
            & > * {
                flex-grow: 1;
            }
        }
        
        &__input {
            min-width: 270px;
            min-height: 50px;
            box-sizing: border-box;
            padding-left: 20px;
            margin-bottom: 1.5rem;
            border: solid 2px variables.$darkGray;
            border-radius: 3px;
            background-color: transparent;

            @media (max-width: 650px) {
                min-width: 100%;
                margin-bottom: 24px;
            }

            &::placeholder {
                font-family: inherit;
                font-weight: 700;
                color: #fff;
            }
        }

        .button {
            flex-grow: 1;

            @media (max-width: 650px) {
                height: 57px;
            }
        }
    }
}

.footer {
    @include variables.limitMaximumWidth;
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
    padding-top: 64px;
    padding-bottom: 49px;
    
    &-map {
        display: flex;
        justify-content: space-between;
        margin-bottom: 72px;

        @media (max-width: 650px) {
            flex-direction: column;
            gap: 32px;
            margin-bottom: 60px;
        }
       
        &-list {
            padding: 0;
            margin: 0;
            flex: 0 1 variables.pixelsToVW(270px);
            list-style-type: none;
            
            &-item {
                color: #fff;
                line-height: 23.83px;

                &__heading {
                    text-transform: uppercase;
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 17px;
                }

                &__link {
                    text-decoration: none;
                    font-size: variables.$textSize1;
                    color: variables.$gray;
                    margin-right: 24px;
                }
            }
        }
    }

    &__line {
        min-width: 100%;
        height: 2px;
        border: none;
        background-color: variables.$darkGray;
    }

    &-navigation {
        display: flex;
        gap: 16px;
        margin-top: 40px;

        @media (max-width: 650px) {
            flex-direction: column;
        }

        &__link {
            text-decoration: none;
            color: variables.$gray;
            font-size: variables.$textSize1;
        }
    }
}
