@use "sass:math";

$black: #08020d;
$darkGray: #cacaca;
$gray: #E0E0E0;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;

$textSize7: 64px;
$textSize6: 56px;
$textSize5: 48px;
$textSize4: 40px;
$textSize3: 32px;
$textSize2: 24px;
$textSize1: 16px;
$textSmall: 12.8px;

@function pixelsToVW($targetWidth) {
    @return math.div($targetWidth * 100vw, 1440px);
}

@mixin backgroundImage($url) {
    background-image: url($url);
    background-position: center;
    background-size: cover;
}

@mixin limitMaximumWidth {
    > * {
        max-width: pixelsToVW(1200px);
        margin: 0 auto;
    }

    @media (max-width: 415px) {
        > * {
            width: calc(100% - 40px);
            max-width: initial;
        }
    }
}

@mixin stretchFont {
    transform: scale(0.95495, 1.08);
    font-variant-ligatures: common-ligatures;
    letter-spacing: -0.3px;
}
